* {
  padding: 0;
  margin: 0;
}

img {
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(238, 253, 255, 1);
}

.wrapper {
  max-width: 1080px;
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  margin: 60px auto;
  font-size: 12px;

  header {
    color: rgba(90, 98, 113, 1);
    padding: 16px 40px;
    border-bottom: 1px solid rgba(90, 98, 113, 0.3);
    user-select: none;

    h3 {
      color: rgba(124, 179, 66, 1);
      font-size: 32px;
      font-weight: 400;
    }

    li {
      margin-right: 30px;
      border: 1px solid #F8F8F8;
      border-radius: 7px;
      padding: 6px;
      font-size: 16px;

      &:hover {
        box-shadow: 0 8px 20px rgba(255, 206, 206, 0.3);
        transform: translateY(-1px);
        cursor: pointer;
        border: 1px solid rgba(255, 206, 206, 1);
      }
    }
  }

  .content {
    margin: 30px 40px;

    h1 {
      font-weight: 700;
      font-size: 30px;
    }

    .card {
      width: 220px;
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid #F3F3F3;
      border-radius: 15px;
      padding: 15px 10px;
      transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
        transform: translateY(-5px);
        cursor: pointer;
      }

      .price {
        span {
          font-size: 10px;
        }

        p {
          font-weight: 700;
          font-size: 16px;
        }
      }

      .num {
        border: 1px solid rgba(90, 98, 113, 0.4);
        border-radius: 5px;
        width: 30px;
        height: 30px;
        color: rgba(90, 98, 113, 1);
      }
    }
  }
}